<div class="bg-light py-2 px-4 mb-3">
    <h3 class="m-0">Recents Appels d'Offres</h3>
</div>

<div class="d-flex mb-3" *ngFor="let item of listAppelRecent">
    <img [src]="item.logo" style="width: 100px;">
    <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
        <div class="mb-1" style="font-size: 13px;">
            <a href="">{{item.ville}}</a>
            <span class="px-1">/</span>
            <span>{{item.dateCreation}}</span>
        </div>
        <a class="h6 m-0" href="" style="font-size: 13px;
            width: 12rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        ">{{item.titre}}</a>
        <div class="mb-1" style="font-size: 13px;">
            <a href="">Postuler avant le </a>
            <span class="px-1">/</span>
            <span>{{item.dateLimite}}</span>
        </div>
    </div>
</div>
