<app-caroussel></app-caroussel>
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
          
            <div class="col-lg-8">            
                
                <div class="mb-3 pb-3">
                    <a href=""><img class="img-fluid w-100" src="assets/img/Group 12.png" alt=""></a>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Opportunité d'affaire</h3>                        
                                
                            <select id="select" ngModel name="selectcat" (change)="onCategoryChange($event)" class="form-select">
                                <option value="" >Choisir une Categorie</option>
                                <option value="tout" >tout</option>
                                <option *ngFor="let category of listCategorie" value="{{category.id}}">{{ category.nom }}</option>
                            </select>
                           
                        </div>
                    </div>
               
                    <div class="col-12">
                 
                        
                            <div class="col-12" style="margin-bottom: 10px;">
                                <img style="display: block; margin: auto;" *ngIf="!listAffaire" src="assets/img/Spinner-1s-287px.svg" alt="">
                                <div class="row p-2 bg-white border rounded mt-2 item-hover" *ngFor="let item of listAffaire?.reverse() | paginate: { itemsPerPage: 5, currentPage: p }" >
                                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" [src]="item.logo"></div>
                                    <div class="col-md-6 mt-1">
                                        <h6 ><a [routerLink]="'/detailaff/' + item.id" style="color: #39569E;">{{item.opportunite}}</a></h6>
                                        <div class="d-flex flex-row">
                                            <app-side [stars]="item.averageRating" />
                                            <div class="rating-selection">
                                            
                                                <select [(ngModel)]="selectedStars" (change)="addRating(item.id)">
                                                    <option value="0" selected>Noté</option>
                                                    <option *ngFor="let option of [1, 2, 3, 4, 5]" [value]="option">{{ option }} étoile{{ option > 1 ? 's' : '' }}</option>
                                                  </select>
                                              
                                            </div>
                                        </div>
                                        <div class="mt-1 mb-1 spec-1"><span>{{item.adresse}}<br></span><span class="dot"></span><span></span><span class="dot"></span><span><br></span></div>
                                        <p class="text-justify text-truncate para mb-0">{{ cleanHtml(item.contenu) }}</p>
                                    </div>
                                    <div class="align-items-center align-content-center col-md-3 border-left">
                                        <div class="d-flex flex-row align-items-center">
                                            <h6 class="text-success mr-1" style="font-size: 14px;">Publier le : {{item.dateCreation}}</h6>
                                        </div>
                                        <div class="d-flex flex-column mt-1"><button class="btn btn-primary btn-sm" style="font-weight: bold;" type="button">{{item.categorieAffaire.nom}}</button><button class="btn btn-outline-primary btn-sm mt-1" type="button"> Telephone :<br> {{item.telephone}}</button></div>
                                    </div>
                                </div>                 
                               
                            
                           
                           
                            </div>
                            <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>
                </div>
                </div>
            </div>
            
            <div class="col-lg-4 pt-3 pt-lg-0">
                <!-- Social Follow Start -->
                    <app-r-social></app-r-social>
                <!-- Social Follow End -->

                <!-- Newsletter Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Publicité</h3>
                    </div>                   
                </div>
                <!-- Newsletter End -->
                <!-- Ads Start -->
                <div class="mb-3 pb-3">
                    <a href=""><img class="img-fluid" src="assets/img/news-500x280-4.jpg" alt=""></a>
                </div>
                <!-- Ads End -->

                <!-- Popular News Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Recents</h3>
                    </div>
                    <div class="d-flex mb-3" *ngFor="let item of listAffaireRecent?.slice(-3).reverse()">
                        <img [src]="item.logo" style="width: 100px; ">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">{{item.adresse}}</a>
                                <span class="px-1">/</span>
                                <span>le {{item.dateCreation}}</span>
                            </div>
                            <a class="h6 m-0" href="" style="font-size: 13px;">{{item.opportunite}}</a>
                            <div class="mb-1" style="font-size: 13px;">
                                <a href="">Telephone </a>
                                <span class="px-1">:</span>
                                <span>{{item.telephone}}</span>
                            </div>
                        </div>
                    </div>                   
                 
                </div>
                <!-- Popular News End -->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>