<app-caroussel></app-caroussel>
<div class="body">
  <div class="container">    
    <header style="margin-top: 10px;">Inscription</header>
        
        <form [formGroup]="formgroup"   (ngSubmit)="ajouterUtilisateur()">               
            <div >                
                <div class="details personal">                  
    
                    <div class="fields1">
                      <div class="input-field">
                        <label>Nom d'utilisateur</label>
                        <input type="text" formControlName="nom" placeholder="Entrer votre nom complet" required>
                        <div *ngIf="formgroup.controls['nom'].invalid && (formgroup.controls['nom'].dirty || formgroup.controls['nom'].touched) || submitted"
                        class="text-danger">

                          <div style="font-size: 12px;" *ngIf="formgroup.controls['nom'].errors?.['required']">
                              nom est obligatoire
                          </div>

                    </div>
                    </div>
                    <div class="input-field">
                      <label>Localité</label>
                      <input type="text" formControlName="localite" placeholder="Entrer votre localité" required>
                      <div *ngIf="formgroup.controls['localite'].invalid && (formgroup.controls['localite'].dirty || formgroup.controls['localite'].touched) || submitted"
                      class="text-danger">

                        <div style="font-size: 12px;" *ngIf="formgroup.controls['localite'].errors?.['required']">
                            localité est obligatoire
                        </div>

                  </div>
                  </div>
  
                    </div>
                </div>
    
                <div class="details ID">
              
    
                  <div class="fields1">
                    
  
                    <div class="input-field">
                      <label>E-mail </label>
                      <input formControlName="email" type="text" placeholder="diawara@gmail.com" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                      <div *ngIf="formgroup.controls['email'].invalid && (formgroup.controls['email'].dirty || formgroup.controls['email'].touched) || submitted"
                      class="text-danger">

                        <div style="font-size: 12px;" *ngIf="formgroup.controls['email'].errors?.['required']">
                            E-mail est obligatoire
                        </div>
                        <div style="font-size: 12px;" *ngIf="formgroup.get('email')?.hasError('pattern')">
                            Le format de l'email est incorrect.
                        </div>

                    </div>
                    </div>
                        <div class="input-field">
                          <label>Mot de passe</label>
                          <input formControlName="password" type="password" placeholder="Entrer mot de passe" required>
                          <div *ngIf="formgroup.controls['password'].invalid && (formgroup.controls['password'].dirty || formgroup.controls['password'].touched) || submitted"
                          class="text-danger">
  
                          <div style="font-size: 12px;" *ngIf="formgroup.controls['password'].errors?.['required']">
                            mot de passe est obligatoire
                          </div>
                          <div style="font-size: 12px;" *ngIf="formgroup.controls['password'].errors?.['minlength']">

                            le mot de passe doit être au moins 4 caractère
                          </div>
                          <div style="font-size: 12px;" *ngIf="formgroup.controls['password'].errors?.['maxlength']">

                            La longueur du mot de passe est limitée à un maximum de 10 caractères
                          </div>
                        </div>
  
                      </div>                 
    
                        <div class="input-field">
                            <label>Numero de telephone </label>
                            <!-- <ngx-intl-tel-input
                              [cssClass]="'custom'"
                              [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
                              [enableAutoCountrySelect]="false"
                              [enablePlaceholder]="true"
                              [searchCountryFlag]="true"
                              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                              [selectFirstCountry]="false"
                              [selectedCountryISO]="CountryISO.Mali"
                              [maxLength]="15"
                              [phoneValidation]="true"
                              name="telephone1"
                              formControlName="telephone1"
                            ></ngx-intl-tel-input> -->
                            <input formControlName="telephone1" type="tel"  id="phone" placeholder="74 - 00 - 00 - 00" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                              <div *ngIf="formgroup.get('telephone1')?.invalid && (formgroup.get('telephone1')?.touched || submitted)"
                              class="text-danger">
                              <div style="font-size: 12px;" *ngIf="formgroup.get('telephone1')?.errors?.['required']">
                                Le numéro de téléphone est obligatoire
                              </div>    
                        </div>
                        </div>
                        
                        <div class="input-field">
                          <label>Deuxième numero de telephone </label>
                          <!-- <ngx-intl-tel-input
                            [cssClass]="'custom'"
                            [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
                            [enableAutoCountrySelect]="false"
                            [enablePlaceholder]="true"
                            [searchCountryFlag]="true"
                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                            [selectFirstCountry]="false"
                            [selectedCountryISO]="CountryISO.Mali"
                            [maxLength]="15"
                            [phoneValidation]="true"
                            name="telephone2"
                            formControlName="telephone2"
                          ></ngx-intl-tel-input> -->
                          <input formControlName="telephone2" type="tel" placeholder="74 - 00 - 00 - 00">
                    </div>                    
                  </div>    
                </div> 
            </div>    
            <div>               
    
            <div class="details family">    
                <div class="buttons">                
                  <button class="backBtn" type="submit"  style="background-color: #ED1C24; border: 1px solid #ED1C24; color: #ffffff;">
                      <span class="btnText">Soumettre</span>
                  </button>
                </div>
              </div> 
            </div>
        </form>
        </div>
      </div>
      
<app-footer></app-footer>